Host: https://{{ ocstore_hostname }}

User-agent: *
Disallow: /vouchers
Disallow: /wishlist
Disallow: /my-account
Disallow: /login
Disallow: /logout
Disallow: /order-history
Disallow: /newsletter
Disallow: /return-insert
Disallow: /forgot-password
Disallow: /downloads
Disallow: /return-history
Disallow: /transactions
Disallow: /create-account
Disallow: /edit-account
Disallow: /change-password
Disallow: /address-book
Disallow: /reward-points
Disallow: /simpleregister
Disallow: /simpleedit
Disallow: /address-book-update
Disallow: /address-book-insert
Disallow: /address-book-delete
Disallow: /order-info
Disallow: /return-info
Disallow: /return-success
Disallow: /affiliates
Disallow: /edit-affiliate-account
Disallow: /change-affiliate-password
Disallow: /affiliate-payment-options
Disallow: /affiliate-tracking-code
Disallow: /affiliate-transactions
Disallow: /affiliate-logout
Disallow: /affiliate-forgot-password
Disallow: /create-affiliate-account
Disallow: /affiliate-login
Disallow: /cart
Disallow: /checkout
Disallow: /gift-vouchers
Disallow: /simplecheckout
Disallow: /payaftercheck-success
Disallow: /error-not-found
Disallow: /compare-products
Disallow: /search
Disallow: /*?route=
Disallow: /*&route=
Disallow: /*?sort=
Disallow: /*&sort=
Disallow: /*?order=
Disallow: /*&order=
Disallow: /*?limit=
Disallow: /*&limit=
Disallow: /*?search=
Disallow: /*&search=
Disallow: /*?poip_ov=
Disallow: /*&poip_ov=
Disallow: /*?tracking=
Disallow: /*&tracking=
{{ ocstore_robots_sitemap_enabled | bool | ternary('','#') }}Sitemap: https://{{ ocstore_hostname }}/feed-sitemap/

User-agent: Yandex
Disallow: /vouchers
Disallow: /wishlist
Disallow: /my-account
Disallow: /login
Disallow: /logout
Disallow: /order-history
Disallow: /newsletter
Disallow: /return-insert
Disallow: /forgot-password
Disallow: /downloads
Disallow: /return-history
Disallow: /transactions
Disallow: /create-account
Disallow: /edit-account
Disallow: /change-password
Disallow: /address-book
Disallow: /reward-points
Disallow: /simpleregister
Disallow: /simpleedit
Disallow: /address-book-update
Disallow: /address-book-insert
Disallow: /address-book-delete
Disallow: /order-info
Disallow: /return-info
Disallow: /return-success
Disallow: /affiliates
Disallow: /edit-affiliate-account
Disallow: /change-affiliate-password
Disallow: /affiliate-payment-options
Disallow: /affiliate-tracking-code
Disallow: /affiliate-transactions
Disallow: /affiliate-logout
Disallow: /affiliate-forgot-password
Disallow: /create-affiliate-account
Disallow: /affiliate-login
Disallow: /cart
Disallow: /checkout
Disallow: /gift-vouchers
Disallow: /simplecheckout
Disallow: /payaftercheck-success
Disallow: /error-not-found
Disallow: /compare-products
Disallow: /search
Disallow: /*?route=
Disallow: /*&route=
Disallow: /*?sort=
Disallow: /*&sort=
Disallow: /*?order=
Disallow: /*&order=
Disallow: /*?limit=
Disallow: /*&limit=
Disallow: /*?search=
Disallow: /*&search=
Disallow: /*?poip_ov=
Disallow: /*&poip_ov=
Disallow: /*?tracking=
Disallow: /*&tracking=
{{ ocstore_robots_sitemap_enabled | bool | ternary('','#') }}Sitemap: https://{{ ocstore_hostname }}/feed-sitemap/
Clean-param: tracking&poip_ov
